#support-system form {
	margin: 0 0 25px;
}

#support-system form .row .row {
	margin: 0 -12.5px;
}

#support-system form .row .row .column,
#support-system form .row .row .columns {
	padding: 0 12.5px;
}

#support-system form .row .row.collapse {
	margin: 0;
}

#support-system form .row .row.collapse .column,
#support-system form .row .row.collapse .columns {
	padding: 0;
}

#support-system label {
	color: #4d4d4d;
	cursor: pointer;
	display: block;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 0;
}

#support-system label.right {
	float: none !important;
	text-align: right;
}

#support-system label.inline {
	margin: 0 0 25px;
	padding: 13.5px 0;
}

#support-system input[type="text"],
#support-system input[type="password"],
#support-system input[type="date"],
#support-system input[type="datetime"],
#support-system input[type="datetime-local"],
#support-system input[type="month"],
#support-system input[type="week"],
#support-system input[type="email"],
#support-system input[type="number"],
#support-system input[type="search"],
#support-system input[type="tel"],
#support-system input[type="time"],
#support-system input[type="url"],
#support-system input[type="color"],
#support-system textarea,
#support-system select {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-family: inherit;
	font-size: 12px;
	margin: 0 0 25px;
	padding: 8.33333px;
	width: 100%;
}

#support-system input[type="text"],
#support-system input[type="password"],
#support-system input[type="date"],
#support-system input[type="datetime"],
#support-system input[type="datetime-local"],
#support-system input[type="month"],
#support-system input[type="week"],
#support-system input[type="email"],
#support-system input[type="number"],
#support-system input[type="search"],
#support-system input[type="tel"],
#support-system input[type="time"],
#support-system input[type="url"],
#support-system input[type="color"],
#support-system select {
	height: 36.5px;
}

#support-system textarea {
	height: auto;
	max-width: 100%;
}

#support-system input[type="text"]:focus,
#support-system input[type="password"]:focus,
#support-system input[type="date"]:focus,
#support-system input[type="datetime"]:focus,
#support-system input[type="datetime-local"]:focus,
#support-system input[type="month"]:focus,
#support-system input[type="week"]:focus,
#support-system input[type="email"]:focus,
#support-system input[type="number"]:focus,
#support-system input[type="search"]:focus,
#support-system input[type="tel"]:focus,
#support-system input[type="time"]:focus,
#support-system input[type="url"]:focus,
#support-system input[type="color"]:focus,
#support-system textarea:focus,
#support-system select:focus {
	background: #fafafa;
	border-color: #999;
	box-shadow: 0 0 5px #999;
	outline: none;
}

#support-system input[type="checkbox"],
#support-system input[type="radio"],
#support-system input[type="file"],
#support-system select {
	margin: 0 0 25px;
}

#support-system input[type="checkbox"] + label,
#support-system input[type="radio"] + label {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 12.5px;
	margin-right: 25px;
	vertical-align: baseline;
}

#support-system fieldset {
	border: 1px solid #ddd;
	margin: 18px 0;
	padding: 20px;
}

#support-system fieldset legend {
	background: #fff;
	font-weight: bold;
	margin-left: -0.23077rem;
	padding: 0 0.23077rem;
}

#support-system .error input,
#support-system .error textarea,
#support-system .error select {
	margin-bottom: 0;
}

#support-system .error label,
#support-system label.error {
	color: $alert-color;
}

#support-system span.error,
#support-system small.error {
	background: $alert-color;
	color: #fff;
	display: block;
	font-size: .92308rem;
	font-style: italic;
	font-weight: normal;
	margin-bottom: 25px;
	margin-top: -1px;
	padding: .46154rem .69231rem .69231rem;
}
