$base-font-size: 100%;
$paragraph-font-size: 13px;
$header-top-margin: .2rem;

$white: #fff;
$black: #000;
$iron: #ccc;
$steel: #666;

$primary-color: #008cba;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43ac6a;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$panel-border-color: #d8d8d8;
$panel-padding: .76923rem;
$accordion-navigation-bg-color: #e2e2e2;
