#support-system div,
#support-system dl,
#support-system dt,
#support-system dd,
#support-system ul,
#support-system ol,
#support-system li,
#support-system h1,
#support-system h2,
#support-system h3,
#support-system h4,
#support-system h5,
#support-system h6,
#support-system pre,
#support-system form,
#support-system p,
#support-system blockquote,
#support-system th,
#support-system td {
	margin: 0;
	padding: 0;
}

#support-system a {
	color: $primary-color;
	line-height: inherit;
	text-decoration: none;
}

#support-system a:hover,
#support-system a:focus {
	color: #0078a0;
}

#support-system p,
#support-system ul,
#support-system ol,
#support-system dl {
	font-family: inherit;
	font-size: $paragraph-font-size;
	line-height: 1.6;
	margin-bottom: 20px;
}

#support-system ul {
	list-style-position: outside;
	margin-left: 1.1rem;
}

#support-system ol {
	margin-left: 1.4rem;
}

#support-system h1,
#support-system h2,
#support-system h3,
#support-system h4,
#support-system h5,
#support-system h6 {
	color: #222;
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	line-height: 1.4;
	margin-bottom: .5rem;
	margin-top: .2rem;
	text-rendering: optimizeLegibility;
}

#support-system h1 { font-size: 24px; }
#support-system h2 { font-size: 22px; }
#support-system h3 { font-size: 20px; }
#support-system h4 { font-size: 18px; }
#support-system h5 { font-size: 16px; }
#support-system h6 { font-size: 100%; }

#support-system hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	height: 0;
	margin: 20px 0 19px;
}
